  <main class=".main-content-homepage" >
      <section>
          <div class="container">
            <div class="row row-cols-2">
                <div class="col-md-8">
              
              <% if(infos.length > 0 ){
                    for(let i = 0; i <infos.length; i++){
                            %>
                <div class="container">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-logo">
                        <img src="/img/profile/avatar_(2).png" class="rounded-circle" alt="foto-profile">
                      </div>
                      <div class="card-title">
                        <h7>Info yang anda bagikan</h7>
                        <p><small class="text-body-secondary"><%= infos[i]['latepost'] %></small></p>
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"><b><%= infos[i]['judul'] %></b></h5>
                      <article class="card-text slice">
                        <p><%= infos[i]['deskripsi'] %>
                      </article>              
                    </div>
                    <div class="card-image">
                       <img src="<%= 'http://127.0.0.1:3000/' + infos[i]['image'] %>" alt="Post Image" class="card-img-bottom">
                    </div>
                    <div class="card-footer">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination"> 
                          <li class="page-item"><a class="page-link" href="#"><i class="fa-regular fa-heart"></i></a></li>
                          <li class="page-item"><a class="page-link" href="#"><i class="fa-regular fa-comment"></i></a></li>
                          <li class="page-item"><a class="page-link" href="#"><i class="fa-solid fa-retweet"></i></a></li>
                          <li class="page-item"><a class="page-link" href="#"><i class="fa-regular fa-bookmark"></i></a></li>
                          <li class="page-item"><a href="/mahasiswa/edit_info/<%= infos[i]['_id'] %>" class="page-link" href="#"><i class="fa-regular fa-pen-to-square" style="color: #fad000;"></i></a></li>
                          <li class="page-item"><a href="/hapus_info/<%= infos[i]['_id'] %>" class="page-link" href="#"><i class="fa-regular fa-trash-can" style="color: #fa000c;"></i></a></li>              
                        </ul>
                      </nav>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Tambah komentar" aria-label="tambah komentar" aria-describedby="button-addon2">
                          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Balas</button>
                        </div>
                    </div>
                  </div>
                </div>
                <%}}%>

                <% if(diskusis.length > 0 ){
                  for(let i = 0; i <diskusis.length; i++){
                          %>
                <div class="post">
                  <div class="card">
                    <div class="card-header">
                      <h5>Pertanyaan Anda</h5>
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-9">
                        <p><b><%= diskusis[i]['pertanyaan'] %></b></p>
                        <footer class="blockquote-footer">Success upload <%= diskusis.latepost %> mins ago</footer>
                      </blockquote>
                    </div>
                    <div class="card-footer">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item"><a href="/mahasiswa/edit_diskusi/<%= diskusis._id %>" class="page-link" href="#"><i class="fa-regular fa-pen-to-square" style="color: #fad000;"></i></a></li>
                          <li class="page-item"><a href="/hapus_diskusi/<%= diskusis._id %>" class="page-link" href="#"><i class="fa-regular fa-trash-can" style="color: #fa000c;"></i></a></li>              
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
                <%}}%>
                </div>

                <div class="col-md-4">
                  <div class="trending-topics">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        Informasi terkini
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">Trending topics</a>
                      <a href="#" class="list-group-item list-group-item-action">Tanya Sawabot</a>
                      <a href="#" class="list-group-item list-group-item-action">Buat Ruang Diskusi</a>
                      <a class="list-group-item list-group-item-action disabled" aria-disabled="true">Razia Perut Lapar</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </section>
  </main>
