<%- include('../../layout/nav-bar.ejs') %>
<%- include('../../layout/hero.ejs') %>
<%- include('../../layout/tabs.ejs') %>
<%- include('../../layout/sidebar.ejs') %>

  <main>
    <section class="edit-diskusi">
    <form action="/edit_diskusi/<%= diskusis._id %>" method="POST">  
        <div class="container">
          <div class="card">
            <div class="card-header">
                <div class="card-logo">
                  <img src="/img/profile/avatar_(2).png" class="rounded-circle" alt="foto-profile">
                </div>
                <div class="card-title">
                  <h7>Anda</h7>
                  <p><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card-body">
                <div class="mb-3">
                  <label class="form-label">Tuliskan pertanyaanmu</label>
                  <textarea name="pertanyaan" class="form-control" id="exampleFormControlTextarea1" rows="3"><%= diskusis.pertanyaan %></textarea>
                </div>
               <input type="submit" value="Ajukan Pertanyaan" class="btn btn-primary">
            </div>
          </div>
        </div>
    </form>
    </section>
  </main>

  <%- include('../../layout/footer.ejs') %>